@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --main-color: #79a207;
    --title-color: rgb(13, 60, 0);
    --text-color-light: #707070;
    --text-color: rgb(25, 28, 24);
    --about-us-color: #fbf5f2;
    --background-color: white;
    --accent-text-color: rgb(236,210,160);
}

* {
    margin: 0px;
    padding: 0px;
}

.store-link {
    max-width: 980px;
    margin: auto;
    padding-left: 25px;
}

.shop-small-title {
    text-decoration: none;
    color: var(--text-color);
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

.product-box {
    margin: auto;
    max-width: 980px;
}

.product-img-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-img {
    max-width: 250px;
    border-radius: 4%;
}

.product-info {
    max-width: 980px;
    margin: auto;
    padding-left: 25px;
}

.in-stock {
    font-family: 'Source Sans Pro' ,sans-serif;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: .05em;
    color: var(--main-color);
    margin-bottom: 7px;
}

.product-name {
    margin-bottom: 7px;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-color);
}

.product-code {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: .2em;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-color-light)
}

.product-price {
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-select {
    height: 30px;
    width: 131.875px;
    margin-top: 2px;
    margin-bottom: 40px;
}

.green-nav {
    background-color: var(--main-color);
    border-radius: 28px;
    height: 53.333px;
    width: 131.875px;
    cursor: pointer;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-nav a {
    color: var(--background-color);
    font-family: "Source Sans Pro", sans-serif;  
    letter-spacing: .01em;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.product-description-title {
    font-family: 'Source Sans Pro' ,sans-serif;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: .05em;
    color: var(--text-color);
    margin-bottom: 7px;
    margin-top: 20px;
}

.product-description-text {
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: .05em;
    font-family: 'Source Sans Pro' ,sans-serif;
    color: var(--text-color-light);
    margin-top: 7px;
    margin-bottom: 100px;
}

@media (min-width:450px) {
    .product-img {
        max-width: 370px;
    }
}

@media (min-width:850px) {
    .product-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
    }
    .product-img {
        max-width: 500px;
        min-height: 475px;
    }
}

footer {
    background-color: var(--title-color);
}

.footer-nav {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 40px;
}

.footer-menu {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer-nav img {
    display: block;
    max-width: 162px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-nav img:hover {
   cursor: pointer;
}

.footer-nav a {
    font-family: 'Lora', serif;
    color: var(--background-color);
    font-size: 17px;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.footer-nav a:hover {
    cursor: pointer;
    color: var(--main-color);
}

@media (min-width:850px) {
    .footer-nav {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 0;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 21px;
        padding-left: 150px;
    }
}
