@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --main-color: #79a207;
    --title-color: rgb(13, 60, 0);
    --text-color-light: #707070;
    --text-color: rgb(25, 28, 24);
    --about-us-color: #fbf5f2;
    --background-color: white;
}

* {
    margin: 0px;
    padding: 0px;
}

.conteiner {
    max-width: 980px;
    margin: auto;
    padding-left: 25px;
}

a {
    text-decoration: none; 
}

.header-nav {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
}

.logo-img {
    display: block;
    max-width: 162px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-nav img:hover {
    cursor: pointer;
}

.header-nav label {
    font-size: 24px;
    padding-top: 37px;
}

#burger-checkbox {
    display: none;
}

#burger-checkbox:checked ~ .main-menu {
    display: block;
}

.main-menu {
    display: none;
}

.main-menu a{
    font-family: 'Lora', serif;
    color: var(--text-color);
    font-size: 17px;
    display: block;
}

.main-menu a:hover {
    cursor: pointer;
    color: var(--main-color);
    text-decoration: underline;
}

.plantland-block {
    width: 100%;
    background-image: url('../img/mainpic.jpg');
    background-size: cover;
}

#plantland-box {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 25px;
}

.green-small-title {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 2.8px;
}

.plantland-title {
    font-family: 'Lora', serif;
    color: var(--title-color);
    font-size: 48px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.plantland-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: var(--text-color);
    padding-bottom: 30px;
}

.green-nav {
    background-color: var(--main-color);
    border-radius: 28px;
    height: 53.333px;
    width: 131.875px;
    cursor: pointer;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-nav a {
    color: var(--background-color);
    font-family: "Source Sans Pro", sans-serif;  
    letter-spacing: .01em;
    font-size: 11px;
    font-weight: bold;
}

.white-nav {
    border-radius: 28px;
    border-color: var(--text-color);
    border-style: solid;
    border-width: 1px;
    height: 53.333px;
    width: 131.875px;
    cursor: pointer;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.white-nav a {
    color: var(--text-color);
    font-family: "Source Sans Pro", sans-serif;  
    letter-spacing: .01em;
    font-size: 11px;
    font-weight: bold;
}

@media (min-width:850px) {

    .burger-icon {
        display: none;
    }
    .main-menu {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 200px;
        padding-right: 25px;
        padding-top: 45px;
        padding-bottom: 30px;
    }
    .plantland-nav {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-around;
        max-width: 300px;
    }

    .white-nav {
        margin-top: 0px;
    }

    #plantland-box {
        max-width: 980px;
        margin: auto;
        padding-left: 25px;
    }

    .plantland-title {
        max-width: 380px;
    }

    .plantland-text {
        max-width: 380px;
    }
}

#about-us {
    background-color: var(--about-us-color);
    padding-top: 90px;
    padding-bottom: 90px;
}

.about-us-picture {
    max-width: 250px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.about-us-title {
    color: var(--title-color);
    line-height: 1.2;
    font-family: Lora,serif;
    font-size: 42px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.about-us-text, .about-us-blocks-text {
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Source Sans Pro',sans-serif;
    font-style: normal;
    letter-spacing: .05em;
    color: var(--text-color-light);
}

.about-us-item {
    font-size: 15px;
    line-height: 1.4;
    font-family: 'Source Sans Pro',sans-serif;
    letter-spacing: .064em;
    color: var(--text-color);
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 20px;
}

@media (min-width:500px) {
    
    .about-us-picture {
        max-width: 500px;
    }
}

@media (min-width:850px) {

 .about-us-title {
     max-width: 380px;
 } 
 
 .about-us-text {
    max-width: 380px;
 }

 .about-us-list {
    max-width: 380px;
 }

 .about-us-description {
    display: flex;
    flex: 1;
    flex-direction: row;
 }

}

.about-us-blocks {
    background-color: var(--background-color);
    max-width: 980px;
    margin: auto;
    padding-left: 25px;
}

.about-us-blocks-title {
    font-size: 24px;
    line-height: 1.4;
    font-family: 'Source Sans Pro',sans-serif;
    letter-spacing: 0;
    color: var(--title-color);
}

.about-us-nav {
    border-radius: 28px;
    height: 53.333px;
    width: 131.875px;
    cursor: pointer;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-nav a {
    color: var(--text-color);
    font-family: "Source Sans Pro", sans-serif;  
    letter-spacing: .01em;
    font-size: 11px;
    font-weight: bold;
}



